<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <%= link_to "Montenegro API", root_path, class: "navbar-brand" %>

    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarMenu" style="">
      <ul class="navbar-nav mr-auto mb-2 mb-md-0">
        <li class="nav-item">
          <%= link_to "Postcode Validation", postcode_path, class: "nav-link" %>
        </li>
      </ul>
      
      <div class="d-flex">
        <ul class="navbar-nav mr-auto mb-2 mb-md-0">
          <li class="nav-item">
            <%= link_to "postcode_path", class: "nav-link" do %>
              <%= "Free Access" %>
              <i class="fas fa-user-tie ml-2 pb-1"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
